<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Secure page</title>

<style>

h1{
text-align : center;
color : white;
}
h2{
text-align : center;
color : #BCA136;
}
body{
background-color : #093145;
}
div{
 width: 80%;
        margin: 0 auto;
        padding: 20px;
        background: #107896;
}
h3{
color : #A3B86C;
font-size : 16pt;
}
img{
float:right;
margin:10px;
}
label{
margin-left:200px;
display:inline-block;
font-size:20px;
text-align:left;
width:150px;
}

</style>

</head>
<body>

<h1>Welcome to CineMovies! </h1><br>
<div>
<h2> Movies Running </h2>


		<h1>Welcome : [[${name}]]</h1> <br>
		
<form method="post" th:action="@{/booking1}" th:object="${booking}" >

<h3>Movie:</h3>
<img src="../static/joker.jpg" width="200" height ="200" th:src="@{/joker.jpg}"/>
<img src="../static/popcorn.jpg" width="200" height ="200" th:src="@{/popcorn.jpg}"/>
<select id="movieList" name="movieList" th:field="*{movie}" required>
        <option disabled selected value="movie">Movies Running</option>
        <option th:each="movie : ${movieList}"
                th:value="${movie.name}+' , '+${movie.rating}"
                th:text="${movie.name}+' : '+${movie.rating}"></option>
    </select>
    
    
    <br>
    <br>
    <h3>Day : </h3>
    <select  id="day" name="day" th:field="*{day}"  required>
        <option disabled selected value="day">Select Day</option>
        <option value="monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="wednesday">Wednesday</option>
        <option value="thursday">Thursday</option>
        <option value="friday">Friday</option>
        <option value="saturday">Saturday</option>
        <option value="sunday">Sunday</option>
    </select>
    
    <h3>Time : </h3>
    <select  id="time" name="time" th:field="*{time}"  required>
        <option disabled selected value="time">Select Time</option>
        <option value="11 AM">11 AM</option>
        <option value="2 PM">2 PM</option>
        <option value="5 PM">5 PM</option>
        <option value="8 PM">8 PM</option>
        <option value="11 PM">11 PM</option>
      
    </select>
    <input type="submit" value="Book Ticket">
    
</form>



</div>
<p><a href="/" th:href="@{/}">Back to home page</a></p>
<p><a href="#" th:href="@{/logout}">Logout</a></p>

</body>
</html>